
.btn-black {
  background-color: black;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  transition: background-color 0.3s ease;
}

.btn-black:hover {
  background-color: #333;
}


.btn-white {
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  transition: background-color 0.3s ease;
}

.btn-white:hover {
  background-color: #e6e6e6;
}


/* Ejemplo de un botón moderno con un degradado y efecto hover */
.custom-button {
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* degradado naranja */
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-family: "Georgia", serif;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 10px; /* Ajusta si necesitas más o menos separación */
}

.custom-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 165, 0, 0.3);
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/fondo2.jpg') center center/cover no-repeat;
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  
}

